<%- include('../partials/header')  %>
<!-- Movie titles -->
  <div class="grid__container">
    <% for(let i=0;i<results.length;i++){ %>  
      <a href = <%= '/result/' + movieid[i] %>>
    <div class="card">
        <div class="card__img">
          <img src=<%= movieurl[i] %> alt="Sorry for the inconvience!!!!1">
        </div>
        <div class="card__title">
          <h5 class="card-title"><%= results[i] %></h5>
        </div>
    </div>
    <%}%>
  </div>
<%- include('../partials/footer') %>